.activity {
  display: none;
}

@include desktop {
  .activity {
    display: block;
    padding-top: 0;
    &__list {
      display: flex;
    }
    &__item:not(:first-child) {
      padding-left: var(--project-item-gap);
    }
    &__img {
      position: relative;
    }
    &__label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      margin: 0;
      padding-top: 27px;
      padding-bottom: 27px;

      background: rgba(47, 48, 58, 0.8);

      @include font($fw: 700);
      text-align: center;
      text-transform: uppercase;

      color: var(--primary-white-color);
    }
  }
}
