.clients {
  @include flex-align-justify;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-item-gap));
  margin-top: calc(-1 * var(--project-item-gap));
  &__icons {
    fill: var(--inactive-icon);
    transition: fill var(--time-function);
  }
}

.clients__items {
  width: calc(100% / 2 - var(--project-item-gap));
  height: 92px;
  border: 1px solid var(--inactive-icon);
  border-radius: 4px;
  transition: border var(--time-function);

  margin-left: var(--project-item-gap);
  margin-top: var(--project-item-gap);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  @include flex-align-justify;

  &:hover .clients__icons,
  &:focus .clients__icons {
    fill: var(--accent-color);
  }
}

@include tablet {
  .clients__items {
    width: calc(100% / 3 - var(--project-item-gap));
  }
}

@include desktop {
  .clients {
    flex-wrap: nowrap;
    margin: 0;
    &__items {
      margin: 0;
    }
  }
  .clients__items:not(:first-child) {
    margin-left: var(--project-item-gap);
  }
}