.clients {
  @include flex-align-justify;
  &__icons {
    fill: var(--inactive-icon);
    transition: fill var(--time-function);
  }
}

.clients__items {
  width: 170px;
  height: 92px;
  border: 1px solid var(--inactive-icon);
  border-radius: 4px;
  transition: border var(--time-function);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  @include flex-align-justify;

  &:hover .clients__icons,
  &:focus .clients__icons {
    fill: var(--accent-color);
  }
}
