.feature {
  &__card {
    width: 100%;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    @include flex-align-justify;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font($fw: 700);
    color: var(--primary-text-color);
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    @include font($lh: 24);

    color: var(--secondary-text-color);
  }
  &__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: calc(-1 * var(--project-item-gap));
    margin-top: calc(-1 * var(--project-item-gap));
  }
  .feature__item {
    width: calc(100% / 2 - var(--project-item-gap));
    margin-left: var(--project-item-gap);
    margin-top: var(--project-item-gap);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    margin: 0;
  }
  .feature__item {
    margin: 0;
    width: 270px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

// .feature {
//   &__img {
//     position: relative;
//   }
//   &__label {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 70px;
//     margin: 0;
//     padding-top: 27px;
//     padding-bottom: 27px;

//     background: rgba(47, 48, 58, 0.8);

//     @include font ($fw: 700);
//     text-align: center;
//     text-transform: uppercase;

//     color: var(--primary-white-color);
//   }
// }
