.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    justify-content: start;
  }
}

// Site-nav
.site-nav {
  @include mobile-max {
    display: none;
  }
  @include tablet {
    display: flex;
    padding-left: 93px;    
    &__item:not(:last-child) {
    margin-right: 50px;
    }
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  text-decoration: none;
  @include font($fw: 500, $ls: 0.02);

  transition: color var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__current {
  color: var(--accent-color);

  position: relative;
  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

// Contact nav
.contact-nav {
  @include mobile-max {
    display: none;
  }
  @include tablet {
    margin-left: auto;
    &__item + &__item {
      margin-top: 10px;
    }
  }
  @include desktop {
    display: flex;
    &__item + &__item {
      padding-left: 40px;
      margin-top: 0;
    }
  }
}
.contact-nav__link {
  text-decoration: none;
  @include font($fw: 500, $ls: 0.02);

  color: var(--secondary-text-color);

  transition: color var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}