.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  &__title {
    color: var(--primary-white-color);

    @include font ($fw: 900, $fs: 44, $lh: 60,$ls: 0.06);
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
  }
}